*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{
    --orange-light:hsl(25, 100%, 94%);
    --orange-dark: hsl(26, 100%, 55%);
}

body,
p,
h1,
h2,
h3,
ul{
    margin: 0;
}

ul{
    padding: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: hsl(220, 14%, 75%);
}

img {
    display: block;
    max-width: 100%;
}

body {
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(220, 14%, 75%);
}

button{
    border: none;
}

.container {
    width: 90%;
    margin-inline: auto;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
    background-color: hsl(0, 0%, 0%);
    opacity: 75%;
    display: none;
}

/***light box *************************/
.light-box {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(0, 0, 0,0.7);
   
}
.lb-section {
    display: flex;
    margin: 0 auto;
    width: 50%;
    height: 100vh;
    position: relative;
    background-color: red;
   
}
.lb-product-image-container {
    position: relative;
    top: 100px;
    left: 143px;
}

.lb-product {
    position: absolute;
    min-height: 200px;
    height: 350px;
    border-radius: 10px;
}

.lb-thumbnail-container {
    display: flex;
    gap: 1em;
    padding-top: 1em;
    position: relative;
    top: 80%;
    width: 45%;
    margin: 0 auto;
}
.lb-thumbnail > img{
    border-radius: 10px;
    opacity: 1;
}

.lb-arrows  > * {
    position: absolute;
    z-index: 50;
    top: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

#lb-icon-previous {
    left: 130px;
}
#lb-icon-next {
    right:125px;
}

/********************* border for light box ********************/



.btn {
    background-color: var(--orange-dark);
    color: white;
    font-weight: 400;
    width: 100%;
    padding-block: .75em;
    border-radius: 5px;  
}

.cart-basket {
    position: absolute;
    max-height: 250px;
    max-width: 300px;
    width: 90%;
    background-color: #FFF;
    z-index: 20;
    border-radius: 10px;
    top: -300px;
    right: 5%;
    transition: top 350ms ease-in-out;
    box-shadow: 0px 10px 10px rgba(0, 0, 0,0.3);
    overflow-y: scroll;
    padding: 1em;
    
}

.cart-basket > hr {
    color: hsl(223, 64%, 98%);
}

.cart-upper-section {
   
    color: #000;
    font-weight: 700;
}

/** typography ***/
.brand-name {
    color: var(--orange-dark);
    text-transform: uppercase;
    font-size: .65em;
    font-weight: 400;
}
.product-name {
    color: black;
    font-size: clamp(1.25rem, 2.5vw + 1em, 3rem);
    font-weight: 700;
    margin-top: .3em;

}
.price {
    color: black;
    font-size: 1.1em;
    font-weight: 700;
    margin-right: 1em;
}
.discount-percent {
    color: var(--orange-dark);
    background-color: var(--orange-light);
    font-size: .75em;
    font-weight: 700;
    padding: .25em;
}
.count {
    color: black;
}

.add-to-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-to-cart > img {
    margin-right: .75em;
    width: 1em;
}

/**header ***/ 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;
    padding-block: 1em;
}
header > :first-child{
    display: flex;
    align-items: center;
}

header > :last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-icon {
    margin-right: 1em;
    align-self: flex-end;
}

.avatar {
    width: 20%;
    margin-left: 1em;
    cursor: pointer;
}
.cart {
    position: relative;
    cursor: pointer;
    z-index: 0;
}

.cart-items-section {
    padding-top: 1em;
}
.cart-items {
    display: flex;
    /* align-items: center; */
    gap: 1em;
    margin-bottom: 1em;

}
#cart-product-img {
    flex-shrink: 2;
}
.cart-product-name {
    font-size: .75em;
    width: max-content;
}
.qty-amnt {
    font-size: .75em;
}
.cart-items > :nth-child(3) {
    align-self: center;
}
.items-count-wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: .5em;
    border-radius: 50%;
    top: -5px;
    left: 10px;
    background-color: var(--orange-dark);
    color: white;
    visibility: hidden;
}
.items-count{
    font-size: .65em;
}
.navigation {
    position: absolute;
    top: 0;
    left: -80%;
    bottom: 0;
    z-index: 10;
    width: min(80%, 17.5rem);
    background-color: white;
    padding: 1em 2em;
    transition: left 350ms ease-in;
    
}

.navigation > ul {
    margin-top: 2em;
}
.nav-links {
    padding-bottom: 1em;
    cursor: pointer;
}
.nav-links  > a {
   
    color: black;
    font-weight: 400;
}

/*** product image section ***/
.product-image-section{
    width: 100%;
    overflow: hidden;
}
.product-image {
    position: relative;
    margin-bottom: 1em;
}

.scroll-img {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.scroll-img > img {
    width: 40%;
}
.previous {
    left: 4%; 
    z-index: 6;
    visibility: hidden;
}
.next{
    right: 4%;
    z-index: 6;
}

.product-image-container{
    display: flex;
    width: 100%;
    position: relative;
    left: 0;
    transition: left 500ms ease-in;
      
}

.thumbnail-container {
    display: flex;
    display: none;
}

/**product description **/
.product-description-section{
    padding-inline: 1em;
   
}

.product-description {
    margin: .75em 0;
}

.product-price-discount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}
.prices {
    display: flex;
   
}

.counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1em;
    border-radius: 5px;
    background-color: hsl(223, 64%, 98%);
    margin-bottom: .75em;
}


@media (min-width: 760px){
    /**header section **/
    header {
        border-bottom: 1px solid lightgray;
        margin-bottom: 5rem;
    }

    .menu-icon,.close-btn {
        display: none;
    }
    .navigation {
        position: initial;
        padding: 1em 0;
        width: 100%;
        margin-left: 2em;
    }    
    .navigation > ul {
        margin-top: 0;
        display: flex;
        gap: 2em
        
    }
    .nav-links {
        padding: 0;
    }

    .avatar{
        width: 40%;
        margin-left: 3em;
    }

    .flex-container {
        display: flex;
        align-items: center;
        padding-inline: 4em;
        gap: 5em;
        cursor: pointer;
    }

    .product {
        border-radius: 10px;
    }

    .thumbnail-container {
        display: flex;
        gap: 1em;
    }

    .thumbnail > img {
        border-radius: 10px;
    }

    .product-price-discount {
        flex-direction: column;
        gap: 1em;
    }
    .btn-container {
        display: flex;
        gap: .5em;
    }

    .counter {
        flex-basis: 40%;
        margin-bottom: 0;
    }
    .add-to-cart {
        flex-basis: 60%;
        cursor: pointer;
    }


}
