*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{
    --orange-light:hsl(25, 100%, 94%);
    --orange-dark: hsl(26, 100%, 55%);
}

body,
p,
h1,
h2,
h3,
ul{
    margin: 0;
}

ul{
    padding: 0;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: hsl(220, 14%, 75%);
}

img {
    display: block;
    max-width: 100%;
}

body {
    position: relative;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(220, 14%, 75%);
}

button{
    border: none;
}

.container {
    width: 90%;
    margin-inline: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: hsl(0, 0%, 0%);
    opacity: 75%;
    display: none;
}

/** typography ***/
.brand-name {
    color: var(--orange-dark);
    text-transform: uppercase;
    font-size: .65em;
    font-weight: 400;
}
.product-name {
    color: black;
    font-size: clamp(1.25rem, 2.5vw + 1em, 3rem);
    font-weight: 700;
}
.price {
    color: black;
    font-size: 1.1em;
    font-weight: 700;
}
.discount-percent {
    color: var(--orange-dark);
    background-color: var(--orange-light);
    font-size: .75em;
    font-weight: 700;
    padding: .25em;
}
.count {
    color: black;
}

.add-to-cart {
    background-color: var(--orange-dark);
    color: white;
    font-weight: 400;
}

/**header ***/ 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;
    padding-block: 1em;
}
header > :first-child{
    display: flex;
    align-items: center;
}

header > :last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-icon {
    margin-right: 1em;
    align-self: flex-end;
}

.avatar {
    width: 20%;
    margin-left: 1em;
    cursor: pointer;
}
.cart {
    position: relative;
    cursor: pointer;
    z-index: 0;
}
.items-count-wrapper{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    padding: .5em;
    border-radius: 50%;
    top: -5px;
    left: 10px;
    background-color: var(--orange-dark);
    color: white;
    visibility: hidden;
}
.items-count{
    font-size: .75em;
}
.navigation {
    position: absolute;
    top: 0;
    left: -80%;
    bottom: 0;
    z-index: 2;
    width: min(80%, 17.5rem);
    background-color: white;
    padding: 1em 2em;
    transition: left 350ms ease-in;
    
}

.navigation > ul {
    margin-top: 2em;
}
.nav-links {
    padding-bottom: 1em;
    cursor: pointer;
}
.nav-links  > a {
   
    color: black;
    font-weight: 400;
}

/*** product image section ***/
.product-image-section{
    width: 100%;
    overflow: hidden;
}
.product-image {
    position: relative;
    margin-bottom: 1em;
}

.scroll-img {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.scroll-img > img {
    width: 40%;
}
.previous {
    left: 4%; 
    z-index: 6;
    
}
.next{
    right: 4%;
    z-index: 6;
    /* visibility: hidden; */
}

.product-image-container{
    display: flex;
    width: 100%;
    position: relative;
    transition: left 500ms ease-in;
      
}



.thumbnail-container {
    display: flex;
    display: none;
}
